@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

*{
box-sizing:border-box;

}

body{
font:'Roboto',sans-serif;
margin:0;
display:flex;
align-items:center;
justify-content:center;
height:100vh;
overflow:hidden;
}

.bg{
	background:url('https://i.pinimg.com/originals/98/ca/97/98ca978b5caae38cb7a66ad3d3bd5372.jpg') no-repeat center center/cover;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	position:absolute;
	z-index:-1;
	filter:blur(80px);
}

.number{
	font-size:30px;
	color:white;
}